<div ng-controller="Registrar">
    <input type="file" multiple file-model="myfile"/>
    <input type="button" class="btn btn-default  btn-primary" ng-click="uploadFile()" value="Upload" ng-disabled="uploading || countFiles===''" />        
</div>   
